.panel {
  width: 600px;
  position: relative;
  background-color: white;
  padding: 24px;

  &__close {
    position: absolute;
    width: calc(100% - 48px);
    z-index: 2;
    display: flex;
    justify-content: flex-end;
  }

  &__contents {
    position: relative;
    top: 0;
    width: 100%;
  }
}